*{
  margin: 0;
  padding: 0;
  font-family: Poppins;

}
.logoIcons{
  height: 30px;
  padding: 20px;
  cursor: pointer;
}
.logoIcons1{
  height: 70px;
}
.headerContainer{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  /* position: fixed; */
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  
}
.headOfTheAmberganIcon{
  display: flex;
  align-items: center;
  gap: 30px;
}
.inputBox{
  width: 600px;
  height: 50px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #D9D9D9;
}
.searchIconBtn{
  border: 1px solid #D9D9D9;
  border-radius: 0px 20px 20px 0px;
  height: 52px;
  width: 52px;
  padding: 10px;
}
.inputBox::placeholder{
  font-size: 20px;
}
.inputBox:focus{
  outline: none;
}
.bodyContainer{
  display: flex;
}
.btnHeader{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.youtubeBtn{
  width: 100px;
  height: 40px;
  border: none;
  font-weight: 800;
  border-radius: 5px;
}
ul{
  width: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.sideBarDiv{
  padding-top: 90px;
  position: fixed;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 240px;


}
.videoCardContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
h2{
  width: 300px;
}
h3{
  width: 300px;
}
span{
  font-weight: 800;
}
.videoHeadContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  /* padding: 10px; */
  padding-top: 50px;
  padding-left: 250px;
}
.imageHeadContainer{
  width: 320px;
  height: 200px;
}
.yotubeImage{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.HomeBtn{
  text-decoration: none;
  color: black;
}
.newcontainer{
  border: 2px solid black;
  padding: 10px;
}
.searchtextSuggestions{
  position: fixed;
  background-color: white;
  list-style-type: none;
  width: 600px;
}
.watcVideoCardHeader{
  padding-top: 90px;
  display: flex;
  flex-direction: column;
}
.commenHeader{
  padding: 10px;
}
.commentsSection{
  flex-direction: row;
  padding-bottom: 10px;
  border-radius: 10px;
}
.commentsectionsmallHeader{
  background-color: rgb(238, 238, 245);
  display: flex;
  align-items: center;


}
.replyComment{
  padding-left: 10px;
  border-left: solid 1px black;
  margin-left: 50px;
}